.stock-component-header {
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd8ce;
    border-radius: 8px;
    color: #fff;
    background-color: #404040;
    line-height: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.index-symbol-header {
    display: flex;
    gap: 30px;
}

.add-to-watchlist-header {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 50px;
    cursor: pointer;
}

.name-price-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}

.price-header {
    margin-right: 80px;
}

.name-header {
    margin-left: 10px;
}
